#header {
    margin: 0;
    display: block;
    box-shadow: 0 2px 5px black;
    padding: 1em;
}
#body {
    margin-top: 2%;
}
#page-title {
    border-bottom: 1px solid;
    text-align: left;
    margin-bottom: 5%;
}
#nav-top {
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
#nav-top a {
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.6);
    width: 50%;
    text-align: center;
    text-decoration: none;
    color:rgba(0, 0, 0, 1)
}